.answersWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.button {
  margin-bottom: 5rem;
  box-shadow: 0 15px 25px -5px #000000bf;
}

.answersButtons {
  width: 100%;
  font-weight: 600;
  text-align: start;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .answersWrapper {
    flex-direction: column;
  }
}
