.page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: url("../components/app/assets/54.jpg");
  background-repeat: repeat;
  background-size: initial;
}

#root {
  backdrop-filter: brightness(3) blur(2px);
}
