@font-face {
  font-family: "Fredericka the Great";
  src: url("./assets/fonts/FrederickatheGreat-Regular.ttf") format("opentype");
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Fredericka the Great", cursive;
  font-size: 2.7rem;
}
